:root {
    --primary: #4F46E5;
    --primary-dark: #3730A3;
    --primary-darkest: #312E81;
    --purple: #8833FF;
    --light-blue: #7D8FB3;
    --lightest-blue: #C3CAD9;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #F7F8FA;
}