.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 85%;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 999;
  padding: 20px;
}

.menu.open {
  left: 0;
}

.accordion_container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 10px;
}

@media (min-width: 768px) {
  .menu {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    box-shadow: none;
  }
}
@media (max-width: 768px) {
  .menu {
    background-color: #fff;
  }
}