.accordion_container {
    width: 310px;
    min-height: 322px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #EDEFF2;
    padding: 10px;
}   