.chat_container {
    width: 100%;
    padding: 0 20px 0 0;
    border-radius: 20px 20px 20px 20px;
}

.chat {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    border-top: 2px solid #F5F6F7;
    overflow-x: auto;
}

.chat_title {
    display: flex;
    justify-content: space-between;
    background-color: #F5F6F7;
    align-items: center;
}

.chat_title h1 {
    margin-left: 30px;
    cursor: pointer;
}