.calendar_container {
    width: 100%;
    background-color: #FAFBFC;
    padding: 0 20px 0 0 ;
    border-radius: 20px 20px 0 0;
}

.calendar {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    border-top: 2px solid #F5F6F7;
}


/* --- STYLES FOR FULLCALENDAR HEADER --- */

:global(.fc-header-toolbar) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
}


:global(.fc-toolbar-title) {
    font-size: 20px !important;
    font-weight: bold !important;
}

:global(.fc-toolbar-chunk) {
    display: flex;
    gap: 8px;
}

:global(.fc-button) {
    background: var(--lightes) !important;
    color: var(--primary-darkest) !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    font-weight: bold !important;
    transition: background 0.3s, color 0.3s;
}

:global(.fc-button:hover) {
    background: var(--primary-dark) !important;
    color: white !important;
}

:global(.fc-button-active) {
    background: var(--primary-dark) !important;
    color: white !important;
}
