.button {
    background-color: var(--primary);
    border: none;
    color: #fff;
    width: 80%;
    height: 70px;
    margin: 30px 10%;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-dark);
}

.button:active {
    background-color: var(--primary-darkest);
}

@media (max-width: 1000px) {
    .button {
        margin: 20px 10%;
        height: 60px;
        font-size: 28px;
    }
}


@media (max-width: 600px) {
    .button {
        margin: 10px 10%;
        height: 40px;
        font-size: 26px;
    }
}