.accordion_container {
    background-color: #fff;
    width: 310px;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #EDEFF2;
    padding: 10px;
    color: var(--light-blue);
    margin-top: 10px;
}

.accordion_container h6 {
    font-size: 12px;
    font-weight: bold;
}