.accordion_item {
    width: 280px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 1000;
    color: var(--light-blue);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px 10px 0 0;
}
.dark .accordion_header {
    background-color: #F7F8FA;
}

.active .accordion_header {
    background-color: var(--purple);
    color: #fff;
}
.dark .active .accordion_header {
    background-color: rgba(41, 204, 57, 0.1);
    color: #29CC39;
}


.accordion_header .arrow {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-right: 2px solid var(--lightest-blue);
    border-bottom: 2px solid var(--lightest-blue);
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.accordion_header .arrow.open {
    transform: rotate(45deg);
}

.accordion_content {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.icon {
    transform: scale(1.5);
    margin-left: 10px;
}